@font-face {
    font-family: 'Montserrat';
    src: url(../public/font/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
}

*{
    font-family: "Montserrat", Arial, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.bg-navbar-custom{
    background-color: #2D3142;
}

.text-brand-custom{
    color: #EF8354;
 }

 .bg-banner-custom {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/img/bannerImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.border-color{
    border-color: #EF8354 !important;
}

@media (max-width: 576px) {
    .border-sm-0 {
      border-left: none !important;
      border-right: none !important;
    }
  }

.bg-about-custom{
    background-color: #F7F7F7;
}

.bg-button-custom{
    background-color: #EF8354;
    border: none;
}

.bg-button-custom:hover{
    background-color: #ab5d3c;
}

.bg-skills-custom{
    background-color: #2D3142;
}

.bg-contact-button-custom{
    background-color: #4F5D75;
    border: none;
}

.bg-contact-button-custom:hover{
    background-color: #2D3142;
}

@media (max-width: 576px) {
    .w-100-xs {
      width: 100%;
    }
  }
  @media (min-width: 576px) {
    .w-50-sm {
      width: 50%;
    }
  }